.form-control1{
    display: block;
    width: 80vh;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
button.btn.btn-outline-success{
    padding: 6px 8px;
    margin: 0px 15px;
}
 
li.nav-item{
    padding: 6px 8px;
    margin: 0px 10px;
}