.signup_container{
    background-image: url(/land.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.signup_main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}
.btn_login{
    display: inline-block;
    padding: 10px 0;
    background-color: rgb(219, 114, 149);
    width: 300px;
    color: black;
    border:  none;
    border-radius: 30px;
}

.btn_login:hover{
    background-color: rgba(113,69,40,0.6);
    color: white;
}