*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    }
    h1{
        text-align: center;
    }
.palaces_container{
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
   margin-top: 20px;
   margin-left: 120px;
   }
.place-card{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    }
.place-card img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;

}
.place-card h3{
    font-size: 1.2em;
    margin-bottom: 5px;
}
.place-card p{
    margin-bottom: 10px;
}
.button1{
    display: flex;
   flex-wrap: wrap;
   text-align: center;
   gap: 50px;
   margin-top: 20px;
   margin-left: 45%;
   padding: 0.3em 1.2em;
   background-color: blue;
    color:  #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.place-card button{
    padding: 8px 16px;
    background-color: blue;
    color:  #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.place-card button:hover{
    background-color: #0056b3;
}
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: #fff;
    width: 60%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.showform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.showform img{
    width: 60%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
.formdata{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.btnReservation{
    background-color: #a82d52;
    margin: 10;
    padding: 5px 20px;
    border: none;
    color: #fff;
    border-radius: 10px;
}
.btnReservation:hover{
    background-color: #0056b3;
}
.showcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}