.landing_container
{
    background-image: url(/land.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;   
}
.landing_page
{
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}
.landing_page h1
{
    font-size: 50px;
    margin: 20px;
}

.landing_btn{
    height: 30%;
    width: 30%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}
.landing_btn .customer_btn{
    background-color: aqua;
    padding: 20px 30px;
    border: none;
    margin: 10px;
    border-radius: 20px;
    font-size: 21px;
    cursor: pointer;
}
.landing_btn .resturant_btn{
    padding: 20px 30px;
    border: none;
    margin: 10px;
    border-radius: 20px;
    font-size: 21px;
    cursor: pointer;
}

