*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  }
  h1{
      text-align: center;
  }
.container{
 display: flex;
 flex-wrap: wrap;
 gap: 50px;
 margin-top: 20px;
 margin-left: 120px;
 }
.card{
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }
.card img{
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;

}
.card h3{
  font-size: 1.2em;
  margin-bottom: 5px;
}
.card p{
  margin-bottom: 10px;
}
.card button{
  padding: 8px 16px;
  background-color: blue;
  color:  #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.card button:hover{
  background-color: #0056b3;
}
.input-container {
  margin-bottom: 15px;
}

.input-container input {
  width: calc(100% - 10px); /* Subtract padding */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

.input-container button {
  padding: 8px 120px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.input-container button:hover {
  background-color: #0056b3;
}
 
  